out.*
target/
target
target/*
target/**
*.ipr
*.iws
.idea
*.iml
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
nbproject/
nbactions.xml
.DS_Store
Icon?

scenicView.properties

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.tmp/

.tmp/*

.tmp/**

bin/

bin/*

.tmp/model_*.xmi

model_*.xmi

*.log

*-ide-plugin.xml

log

log/*

=======
*.class

# Package Files #
*.jar
*.war
*.ear
